.account{display: flex;
    background-color: black;
    text-align: right;
    padding: 1% 15% 1%;
    justify-content: right;
}
#ace{
    padding-right: 5%;
}
/* header */
.center{
    display: flex;
    justify-content: center;
}
.head{
    height: 200px;
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.bar{
    width: 50%;
}
.bar ul{
    
    display: flex;
    justify-content: space-between;
}
.bar ul li:hover{
    background-color: yellow;
    display: block;
     padding: 20px;
}
.WKND{
    font-size: 40px;
}
.sherch input{
 padding: 10px 20px ;
 font-size: 20px;
}
/* header end */
/* content start */
/* section 1 start */
.sec1{
    display: flex;
    justify-content: center;
}
.section1{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.left{
    height: 100%;
}
.left h2{
    font-size: 40px;
    margin-bottom: 80px;
}
.right pre{
    line-height: 40px;
    font-size: 25px;
    
}
.right pre span{
    font-size: 35px;   
   
}
.left pre{
    margin-top: 40px;
    font-size: 20px;
    line-height: 35px;
}
.plius{
    display: flex;
    justify-content: space-between;
    
}
.pres pre{
    font-size: 15px;
}
.minus{
    display: flex;
    justify-content: space-between;
 margin-top: 35px;    
 padding-bottom: 10px;
 border-bottom: 1px solid rgb(196, 193, 193);
}
.topborder{
    border-top:1px solid rgb(196, 193, 193) ;
    padding-top: 30px;
}
/* section 1 end */
/* section 2 start */
.sec2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 100px;
}
.section2{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.foto {
    display: flex;
    align-items: center;
    width: 30%;
}
.text{
    line-height: 30px;
    text-align: left;
    width: 60%;
    justify-content: center;
}
.text span{
    font-size: 35px;
}
.emails{
    margin-right: 20px;
    padding:20px 30px 20px 30px;
   border: 1px solid rgba(160, 157, 119, 0.452);
}
#sing{
    color: white;
    padding: 20px 40px;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* section 2 end */
/* content end */
/* footer start */
.fotko{
    display: flex;
    justify-content: center;


}
.footeris {
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    padding-left: 20px;
}

.wk {
    color: white;
    display: flex;
    font-size: 40px;
    width: 20%;
    
}

.chamonatvali {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.ulia {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}
.fot{
  background-color:white;
  justify-content: space-between;
  width: 40px;
  height: 40px;
}

.photoebiao {
    width: 8%;
    display: flex;
    justify-content: space-between;
}
/* foter end */
/* first page end 
second page start*/
/* section1 start */
#sec1{
    display: flex;
    justify-content: center;
}
.toptext{
    width: 70%; 
    flex-direction: column;
    line-height: 80px
}
.toptext h1{
font-size: 40px;
}
.toptext h2{
    font-size: 35px;
} 
.toptext span{
    border-bottom: 3px solid yellow;
    padding-bottom: 10px;
}
.toptext p{
    font-size: 20px;
}
/* section 1 end */
/* section 2 start */
#sec2{
    display: flex;
    justify-content: center;
}
.instp{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.instpeople{
    text-align: center;
    margin-top: 50px;
}
.instpeople h3{
    font-size:40px;
    padding: 30px 0px 40px;
}
.instpeople pre{
    line-height: 30px;
    margin-bottom: 30px;
}
.pelfoto{
    background-color: black;
    width: 90px;
    height: 90px;
    padding:30px;
}
#pad{
    margin-bottom: 22%;
}
/* section 2 end */
/* section 3 start */
#sec3{
    display: flex;
    justify-content: center;
}
.guides{
    width: 70%; 
    flex-direction: column;
}
.guides h4{
    font-size: 40px;
    margin: 30px 0px 60px;
}
.guides  span{
    border-bottom:3px solid yellow ;
    padding-bottom: 10px;

}
.guides pre{
    line-height: 30px;
    font-size: 25px;
    word-spacing: 4px;
}
/* section 3 end */
/* section 4 start */
.instpa{
    width: 70%;
    display: flex;
    justify-content: left;
    margin-bottom: 10%;
}
#w{
margin-right: 5%;
}
/* section 5 end footer using  first html  codes  */



